In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style('darkgrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Glimpse Df

La siguiente funcion se llama glimpse_df. Nos ayuda a darnos una idea basica  de como vienen los datos.

In [17]:
def glimpse_df(df):
  print('               Head              \n')
  print(df.head())
  print("\n  --------------------------- \n")
  print('               Info              \n')
  print(df.info())
  print("\n  --------------------------- \n")
  print("              Describe           \n")
  print(df.describe())
  print("\n  --------------------------- \n")
  print("                NaN              \n")
  df_ = df[df.isna().any(axis=1)]
  print(df_)

Misma funcion, pero mas modular:

In [26]:
# Podemos separarla en funciones mas modulares
def print_s():
    print("\n  --------------------------- \n")

def glimpse_df(df):
  print('               Head              \n')
  print(df.head())
  print_s()  
  print('               Info              \n')
  print(df.info())
  print_s()
  print("              Describe           \n")
  print(df.describe())
  print_s()
  print("                NaN              \n")
  df_ = df[df.isna().any(axis=1)]
  print(df_)

Glimpse Column

Version 1.0

In [42]:


def glimpse_columns(df=pd.DataFrame()):
  for c in df.columns:
    print_s()
    print(c)
    print(df[c].unique())

Version 2.0

In [43]:
# Valores unicos en un subset de columnas
def glimpse_pair_columns(df=pd.DataFrame, x=[]):
  print(df[x].drop_duplicates())

# Pinguinos

In [44]:
penguins = sns.load_dataset('penguins')
glimpse_df(penguins)

               Head

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen              36.7  ...              193.0       3450.0  FEMALE

[5 rows x 7 columns]

  ---------------------------

               Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

  ---------------------------

              Describe

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

  ---------------------------

                NaN

    species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g  sex
3    Adelie  Torgersen               NaN  ...                NaN          NaN  NaN
8    Adelie  Torgersen              34.1  ...              193.0       3475.0  NaN
9    Adelie  Torgersen              42.0  ...              190.0       4250.0  NaN
10   Adelie  Torgersen              37.8  ...              186.0       3300.0  NaN
11   Adelie  Torgersen              37.8  ...              180.0       3700.0  NaN
47   Adelie      Dream              37.5  ...              179.0       2975.0  NaN
246  Gentoo     Biscoe              44.5  ...              216.0       4100.0  NaN
286  Gentoo     Biscoe              46.2  ...              214.0       4650.0  NaN
324  Gentoo     Biscoe              47.3  ...              216.0       4725.0  NaN
336  Gentoo     Biscoe              44.5  ...              217.0       4875.0  NaN
339  Gentoo     Biscoe               NaN  ...                NaN          NaN  NaN

[11 rows x 7 columns]

In [45]:
glimpse_columns(penguins)

  ---------------------------

species
['Adelie' 'Chinstrap' 'Gentoo']

  ---------------------------

island
['Torgersen' 'Biscoe' 'Dream']

  ---------------------------

culmen_length_mm
[39.1 39.5 40.3  nan 36.7 39.3 38.9 39.2 34.1 42.  37.8 41.1 38.6 34.6
 36.6 38.7 42.5 34.4 46.  37.7 35.9 38.2 38.8 35.3 40.6 40.5 37.9 37.2
 40.9 36.4 42.2 37.6 39.8 36.5 40.8 36.  44.1 37.  39.6 37.5 42.3 40.1
 35.  34.5 41.4 39.  35.7 41.3 41.6 35.5 41.8 33.5 39.7 45.8 42.8 36.2
 42.1 42.9 35.1 37.3 36.3 36.9 38.3 34.  38.1 33.1 43.2 41.  45.6 42.7
 40.2 35.2 41.5 38.5 43.1 36.8 35.6 32.1 40.7 46.5 50.  51.3 45.4 52.7
 45.2 46.1 46.6 51.7 47.  52.  45.9 50.5 50.3 58.  46.4 49.2 42.4 48.5
 50.6 46.7 49.5 52.8 54.2 51.  49.7 47.5 47.6 46.9 53.5 49.  46.2 50.9
 45.5 50.8 50.1 51.5 49.8 48.1 51.4 45.7 50.7 52.2 49.3 50.2 51.9 46.8
 55.8 43.5 49.6 48.7 43.3 48.4 45.1 46.3 44.5 47.8 48.2 47.3 59.6 49.1
 42.6 44.4 44.  45.3 43.6 44.9 45.  43.8 50.4 54.3 47.7 48.6 51.1 52.5
 47.4 43.4 52.1 49.4 55.9 47.2 41.7 53.4 55.1 48.8 49.9]

  ---------------------------

culmen_depth_mm
[18.7 17.4 18.   nan 19.3 20.6 17.8 19.6 18.1 20.2 17.1 17.3 17.6 21.2
 21.1 19.  20.7 18.4 21.5 18.3 19.2 17.2 18.9 18.6 17.9 16.7 17.  20.
 18.5 19.1 19.7 16.9 18.8 17.7 19.5 17.5 16.6 18.2 16.2 19.4 16.8 16.1
 20.3 16.  16.5 20.5 19.8 15.9 20.1 15.5 19.9 20.8 16.4 13.2 16.3 14.1
 15.2 14.5 13.5 14.6 15.3 13.4 15.4 13.7 15.7 15.1 14.3 15.8 13.1 15.
 14.2 14.8 13.6 13.9 13.3 14.4 13.8 14.9 15.6 14.  14.7]

  ---------------------------

flipper_length_mm
[181. 186. 195.  nan 193. 190. 180. 182. 191. 198. 185. 197. 184. 194.
 174. 189. 187. 183. 172. 178. 188. 196. 179. 200. 192. 202. 205. 208.
 203. 199. 176. 210. 201. 212. 206. 207. 211. 230. 218. 215. 219. 209.
 214. 216. 213. 217. 221. 222. 220. 225. 224. 231. 229. 223. 228. 226.]

  ---------------------------

body_mass_g
[3750. 3800. 3250.   nan 3450. 3650. 3625. 4675. 3475. 4250. 3300. 3700.
 3200. 4400. 4500. 3325. 4200. 3400. 3600. 3950. 3550. 3150. 3900. 4150.
 4650. 3100. 3000. 4600. 3425. 2975. 3500. 4300. 4050. 2900. 2850. 3350.
 4100. 3050. 4450. 4000. 4700. 4350. 3725. 4725. 3075. 2925. 3175. 4775.
 3825. 4275. 4075. 3775. 3875. 3275. 4475. 3975. 3525. 3575. 4550. 3850.
 4800. 2700. 3675. 5700. 5400. 5200. 5150. 5550. 5850. 6300. 5350. 5000.
 5050. 5100. 5650. 5250. 6050. 4950. 4750. 4900. 5300. 4850. 5800. 6000.
 5950. 4625. 5450. 5600. 4875. 4925. 4975. 5500. 4575. 4375. 5750.]

  ---------------------------

sex
['MALE' 'FEMALE' nan]

### Todas las islas tendran 'nans' en la solumna de sexo?  
Hagamos uso de la funcion glimpse_pair_columns

In [46]:
glimpse_pair_columns(penguins, ['sex', 'island'])

        sex     island
0      MALE  Torgersen
1    FEMALE  Torgersen
3       NaN  Torgersen
20   FEMALE     Biscoe
21     MALE     Biscoe
30   FEMALE      Dream
31     MALE      Dream
47      NaN      Dream
246     NaN     Biscoe

Al parecer todas las islas tienen pinguinos sin sexo detecatado.

# TAREA:  
### 1. Cada isla contendra los 3 tipos de especies?  
### 2. Cada columna tiene el tipo correcto (object, float, etc...)  
### 3. Los datos estan en formato Tidy?

# UFO