<a href="https://colab.research.google.com/github/IEXE-Tec/analisis-descriptivo/blob/master/09_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set(style="ticks", context="talk")
plt.style.use("dark_background")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

UFO

In [4]:
ufo = pd.read_csv('https://raw.githubusercontent.com/IEXE-Tec/analisis-descriptivo/master/ufo.csv')
ufo.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           datetime                  city  ...    latitude  longitude
0  10/10/1949 20:30            san marcos  ...  29.8830556  -97.941111
1  10/10/1949 21:00          lackland afb  ...    29.38421  -98.581082
2  10/10/1955 17:00  chester (uk/england)  ...        53.2   -2.916667
3  10/10/1956 21:00                  edna  ...  28.9783333  -96.645833
4  10/10/1960 20:00               kaneohe  ...  21.4180556 -157.803611

[5 rows x 11 columns]

In [6]:
ufo.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [5]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              80332 non-null  object
 1   city                  80332 non-null  object
 2   state                 74535 non-null  object
 3   country               70662 non-null  object
 4   shape                 78400 non-null  object
 5   duration (seconds)    80332 non-null  object
 6   duration (hours/min)  80332 non-null  object
 7   comments              80317 non-null  object
 8   date posted           80332 non-null  object
 9   latitude              80332 non-null  object
 10  longitude             80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [7]:
ufo.describe()

         longitude
count  80332.000000
mean     -86.772885
std       39.697205
min     -176.658056
25%     -112.073333
50%      -87.903611
75%      -78.755000
max      178.441900

In [ ]:
ufo.rename(columns={
   'longitude ':'longitude' 
},
inplace=True)